<style>
.open{
	position: fixed;
	top: 40px;
	right: 40px;
	width: 50px;
	height: 50px;
	display: block;
	cursor: pointer;
	transition: opacity 0.2s linear;
	&:hover{
		opacity: 0.8;
	}
	span{
		display: block;
		float: left;
		clear: both;
		height: 4px;
		width: 40px;
		border-radius: 40px;
		background-color: #fff;
		position: absolute;
		right: 3px;
		top: 3px;
		overflow: hidden;
		transition: all 0.4s ease;
		&:nth-child(1){
			margin-top: 10px;
			z-index: 9;
		}
		&:nth-child(2){
			margin-top: 25px;
		}
		&:nth-child(3){
			margin-top: 40px;
		}
	}
}
.sub-menu{
	transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		height: 0;
		width: 0;
		right: 0;
		top: 0;
		position: absolute;
		background-color: rgba(38, 84, 133, 0.54);
		border-radius: 50%;
		z-index: 18;
		overflow: hidden;
		li{
			display: block;
			float: right;
			clear: both;
			height: auto;
			margin-right: -160px;
			transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			&:first-child{
				margin-top: 180px;
			}
			&:nth-child(1){
				-webkit-transition-delay: 0.05s;
			}
			&:nth-child(2){
				-webkit-transition-delay: 0.10s;
			}
			&:nth-child(3){
				-webkit-transition-delay: 0.15s;
			}
			&:nth-child(4){
				-webkit-transition-delay: 0.20s;
			}
			&:nth-child(5){
				-webkit-transition-delay: 0.25s;
			}
			a{
				color: #fff;
				font-family: 'Lato', Arial, Helvetica, sans-serif;
				font-size: 16px;
				width: 100%;
				display: block;
				float: left;
				line-height: 40px;
			}
		}
	}

	.oppenned{
		.sub-menu{
			opacity: 1;
			height: 400px;
			width: 400px;
		}
		span:nth-child(2){
			overflow: visible;
		}
		span:nth-child(1), span:nth-child(3){
			z-index: 100;
			transform: rotate(45deg);
		}
		span:nth-child(1){
			transform: rotate(45deg) translateY(12px) translateX(12px);
		}
		span:nth-child(2){
			height: 400px;
			width: 400px;
			right: -160px;
			top: -160px;
			border-radius: 50%;
			background-color: rgba(38, 84, 133, 0.54);
		}
		span:nth-child(3){
			transform: rotate(-45deg) translateY(-10px) translateX(10px);
		}
		li{
			margin-right: 168px;
		}
	}
.button{
	display: block;
	float: left;
  clear: both;
	padding: 20px 40px;
	background: #fff;
	border-radius: 3px;
	border: 2px solid #10a1ea;
	overflow: hidden;
	position: relative;
	&:after{
		transition: transform 0.3s ease;
		content: "";
		position: absolute;
		height: 200px;
		width: 400px;
		transform: rotate(45deg) translateX(-540px) translateY(-100px);
		background: #10a1ea;
		z-index: 1;
	}
	&:before{
		transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		content: attr(title);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: #fff;
		z-index: 2;
		text-align: center;
		padding: 20px 40px;
		transform: translateY(200px);
	}
	&:hover{
		text-decoration: none;
		&:after{
			transform: translateX(-300px) translateY(-100px);
		}
		&:before{
			transform: translateY(0);
		}
	}
}

.contact-icons {
	-webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
		-webkit-flex-direction: row;
    flex-direction: row;
}

.github {
}

.linkedin {
	left:10%;
}

.email {
	left:10%;
}

</style>

<div layout="column" layout-fill>
  <md-toolbar color="primary" class="md-whiteframe-z1">
    <span>

      <!--<a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><md-icon>chrome_reader_mode</md-icon></a>-->
      <button md-icon-button mdTooltip="Home" (click)="goBack()" target="_blank"><md-icon class="md-30" color="accent">arrow_back</md-icon></button>
    </span>
    <span>About</span>

  </md-toolbar>
  <md-tab-group md-stretch-tabs color="accent">
  <md-tab>
    <ng-template md-tab-label>What is this?</ng-template>
		<div class="description" align="center">
			<h3 align="center">Globetweeting.com is a website that shows live tweets around the world about top trending Twitter topics in the USA.</h3>
			<h4 align="center">- You can pick and choose what trends you'd like to see tweets about using the left menu on the home page. Trends are updated approximately every 5 minutes.</h4>
			<h4 align="center">- You can pause the globe using the button in the top right corner and click on tweet info to be redirected to that Twitter user's profile.</h4>
		</div>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>Creator</ng-template>
		<div class="creator-info">
			<h1 align="center"><b>Phani Cherukuri</b></h1>
			<div class="contact-icons" align="center">
				<a class="github" href="https://github.com/p-cherukuri"><img src="assets/icons/github-icon.png" width="35" height="35"></a>
				<a class="linkedin" href="https://www.linkedin.com/in/phanindra-cherukuri"><img src="assets/icons/linkedin-icon.png" width="40" height="30"></a>
				<!--<a class="email" onclick="window.open('mailto:phani.cheruk@gmail.com?subject=Globetweeting&nbsp;Inquiry');"><img src="assets/icons/email-icon.png" width="40" height="40"></a>-->
			</div>
			<div>
				<h4 align="center"><b>Questions or feedback? Shoot me an email:</b></h4>
				<div>
					<form align="center" method="POST" action="http://formspree.io/phani.cheruk@gmail.com">
						<md-input-container>
							<input mdInput type="email" name="email" placeholder="Your email">
						</md-input-container>
						<p>
							<md-input-container>
						  	<textarea mdInput name="message" placeholder="Your message"></textarea>
						  </md-input-container>
						</p>

					  <button md-raised-button color="primary" type="submit" value="Send">Send email</button>
					</form>
				</div>
			</div>
		</div>
  </md-tab>
</md-tab-group>
</div>
