<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap2-toggle.min.css" rel="stylesheet">
<link rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.min.css">

<style>


.title {
  position: absolute;
  top: 74%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  width: 960px;
}

canvas {
  position: absolute;
  top: 57%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.realtitle {
  position: absolute;
  top: -5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  width: 960px;
  font-size: 17px;
  color: #4099FF;
  font-weight:bold;
}

.current-trend {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  left:80px;
  color: #fff;
}

.trend {
  color: #1DA1F2;
  bottom:20px;
}

.inner-title {
  font-size: 18px;
  color: #fff;
}

.twitter-logo-a {
  top:  40px;
  left: 0px;
}

.twitter-logo-b {
  position: absolute;
  top: -17px;
  left: 635px;
}

h1 {
}

.tweet {
  position: absolute;
  left: 240px;
  width: 480px;
  text-align: center;
}

.github-mark {
  position: absolute;
  left: 45px;
  top: 25px;
}

.github {
  position: absolute;
  left: 25px;
  top: 100px;
}

a {
  text-decoration: none;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  color: #1DA1F2
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(29, 161, 244, 0.84);
  background-color: rgba(29, 161, 244, 0.84);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
  color: #fff
}

.twitter-user {
  color: #fff
}

mat-checkbox-label {
  color: #1DA1F2
}

#pauseButton {
  position: absolute;
  left: 900px;
}

#playButton {
  position: absolute;
  left: 1000px;
}

#loadingCircle {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.btn-group {
  position:fixed;
  float:right;
    top:66px;
    right:15px;
}

.current-trend-container {
  position:fixed;
  float:left;
    top:80px;
    left:165px;
    padding: 0 1%;
    max-width:100%;
}

.trendFlex {
  flex: 1;
  flex-grow: 2.5;
}

.globebody {
  background-color: #fff;
}

.about-icon {
  position:fixed;
  float:right;
  right:10px;
}

.btn-primary {
  background: #a3e9db;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background: #338373;
}

</style>
<td-layout #layout>

<td-navigation-drawer sidenavTitle="Currently popular on Twitter:" name=""> <!-- email="Show tweets from:" -->
  <md-nav-list>
    <a md-list-item><md-checkbox onclick="getTrendName(this.textContent)" labelPosition="before" color="warn" checked="true">Trump</md-checkbox></a>
    <ng-template let-item let-last="last" ngFor [ngForOf]="trends">
      <a md-list-item><md-checkbox onclick="getTrendName(this.textContent)" labelPosition="before" color="warn">{{item}}</md-checkbox></a>
    </ng-template>
  </md-nav-list>
</td-navigation-drawer>

<td-layout-nav logo="">

  <div td-toolbar-content layout="row" layout-align="center center" flex>

    <!--<span style="color:#fff;font-weight:bold;">Live tweets from around the world:&nbsp;</span>-->
    <span flex>Live tweets from around the world! - <span class="current-trend" style="font-weight:bold"></span></span>

  <span>

    <!--<a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><md-icon>chrome_reader_mode</md-icon></a>-->
    <a md-icon-button mdTooltip="About" (click)="goToAbout()" target="_blank"><md-icon class="md-30" color="accent">info</md-icon></a>
  </span>

  </div>



<div class="globebody">
  <div style="background-color:#fff;color:#fff;position:absolute;top: 30%; left: 50%;margin-right: -50%;transform: translate(-50%, -50%); height:170%; width:100%; z-index:-2;">
    placeholder
  </div>
  <!--<div class="current-trend">-->

      <!--Enter Search Term: <input type="text" value="" id="inputSearch"><button type="submit" onclick="newTerm();">Update</button>-->
  <!--</div>-->
  <!-- <div class="pausePlay">
    <md-slide-toggle id="pausePlayButton" checked=true color="primary" onclick="pausePlayStream();">
      Pause | Play
    </md-slide-toggle>
  </div> -->

  <div class="current-trend-container">
    <span class="current-trend" style="position: absolute;font-family: Helvetica Neue, Helvetica, Arial, sans-serif; text-align:center; color:#338373;">
    </span>
  </div>

  <!--<button id="pauseButton" type="button" onclick="stopConnection();"><i class="fa fa-pause" style="color:#fff"></i></button>
  <button id="playButton" type="button" onclick="openConnectionAgain();"><i class="fa fa-play" style="color:#fff"></i></button>-->
  <div class="title">
    <p>
      <md-spinner style="position:absolute;top: 30%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);" color="primary"></md-spinner>
    </p>
  </div>

  <div class="btn-group" data-toggle="buttons">
  <label class="btn btn-sm btn-primary" onclick="stopConnection();">
    <input type="radio" name="options" id="pause" autocomplete="off" > <i class="fa fa-pause" style="color:#fff"></i>
  </label>
  <label class="btn btn-sm btn-primary active" onclick="openConnectionAgain();">
    <input type="radio" name="options" id="pause" autocomplete="off" checked> <i class="fa fa-play" style="color:#fff"></i>
  </label>
</div>
  <!--<canvas id='rotatingGlobe' width='400' height='400'
  style='width: 400px; height: 400px; cursor: move;'></canvas>-->
</div>

  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="footer-desc" style="font-weight:bold;font-size:16px;">
        <div style="display:inline-block;">
          <a class="twitter-share-button"
            style="top:3px;color:#1DA1F3;"
            href="https://twitter.com/share"
            data-text="See what people around the world are tweeting about Trump and other trending topics!"
            data-url="http://globetweeting.com"
            data-hashtags="globetweeting,LiveTweets"
            data-related="twitterapi,twitter">
          Tweet about this!
          </a>
        </div>

        <div class="fb-share-button" style="display:inline-block;bottom:5px;" data-href="http://globetweeting.com" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" style="color:#3b5998;" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fglobetweeting.com%2F&amp;src=sdkpreparse">Share this on Facebook!</a></div>
      </span>
      <span flex></span>
      <span class="copyright">Copyright &copy; 2017 Globetweeting. All rights reserved.</span>
    </div>
  </td-layout-footer>
</td-layout-nav>
</td-layout>
