.md-icon-ux {
    width: 100px;
}
.icon {
  font-size: 48px;
}

.title {
  position: absolute;
  top: 500px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  width: 960px;
}

.realtitle {
  position: absolute;
  top: -5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  width: 960px;
  font-size: 17px;
  color: #4099FF;
  font-weight:bold;
}

.search {
  position: absolute;
  top: -5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  width: 960px;
  font-size: 17px;
  font-weight:bold;
}

.inner-title {
  font-size: 18px;
  color: #1DA1F3;
}

.twitter-logo-a {
  top:  40px;
  left: 0px;
}

.twitter-logo-b {
  position: absolute;
  top: -17px;
  left: 635px;
}

h1 {
}

.tweet {
  position: absolute;
  left: 240px;
  width: 480px;
  text-align: center;
}

.github-mark {
  position: absolute;
  left: 45px;
  top: 25px;
}

.github {
  position: absolute;
  left: 25px;
  top: 100px;
}

a {
  text-decoration: none;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.82);
  background-color: rgba(255, 255, 255, 0.82);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
  color: #1DA1F3
}

.twitter-user {
  color: #1DA1F3
}

#pauseButton {
  position: absolute;
  left: 900px;
}

#playButton {
  position: absolute;
  left: 1000px;
}
