@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';
@import '~@covalent/markdown/markdown-theme';
@import '~@covalent/highlight/highlight-theme';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$twitter-blue: (
  50 : #e4f4fd,
  100 : #bbe3fb,
  200 : #8ed0f9,
  300 : #61bdf6,
  400 : #3faff4,
  500 : #1da1f2,
  600 : #1a99f0,
  700 : #158fee,
  800 : #1185ec,
  900 : #0a74e8,
  A100 : #ffffff,
  A200 : #dfedff,
  A400 : #acd0ff,
  A700 : #92c1ff,
    contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
    )
);

$header-white: (
50 : #ffffff,
100 : #ffffff,
200 : #ffffff,
300 : #ffffff,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #ffffff,
A200 : #ffffff,
A400 : #ffffff,
A700 : #ffffff,
    contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
    )
);

$blueish-green: (
    50 : #e7f0ee,
    100 : #c2dad5,
    200 : #99c1b9,
    300 : #70a89d,
    400 : #529688,
    500 : #338373,
    600 : #2e7b6b,
    700 : #277060,
    800 : #206656,
    900 : #145343,
    A100 : #8effdf,
    A200 : #5bffd1,
    A400 : #28ffc3,
    A700 : #0effbb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($blueish-green);
$accent:  mat-palette($header-white); //$mat-orange, 800, A100, A400

// The warn palette is optional (defaults to red).
$warn:    mat-palette($twitter-blue);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
@include covalent-theme($theme);
@include covalent-markdown-theme($theme);
@include covalent-highlight-theme();

// Active icon color in list nav
md-nav-list {
    [md-list-item].active {
        md-icon[md-list-avatar] {
            background-color: mat-color($accent);
            color: mat-color($accent, default-contrast)
        }
        md-icon[md-list-icon] {
            color: mat-color($accent);
        }
    }
}

// Custom theme examples
.white-orange {
    $primary2: mat-palette($mat-grey, 50);
    $accent2:  mat-palette($mat-orange, 800);
    $warn2:    mat-palette($mat-red, 600);

    $white-orange: mat-light-theme($primary2, $accent2, $warn2);

    @include angular-material-theme($white-orange);
    @include covalent-theme($white-orange);
}
.dark-grey-blue {
    $primary3: mat-palette($mat-blue-grey, 800);
    $accent3:  mat-palette($mat-teal, 500);
    $warn3:    mat-palette($mat-red, 600);

    $dark-grey-blue: mat-dark-theme($primary3, $accent3, $warn3);

    @include angular-material-theme($dark-grey-blue);
    @include covalent-theme($dark-grey-blue);
}
.light-blue-red {
    $primary4: mat-palette($mat-light-blue, 700);
    $accent4:  mat-palette($mat-red, 700);
    $warn4:    mat-palette($mat-deep-orange, 800);

    $light-blue-red: mat-light-theme($primary4, $accent4, $warn4);

    @include angular-material-theme($light-blue-red);
    @include covalent-theme($light-blue-red);
}

/* ------------------------------------------------------------------------------- */
$foreground: map-get($theme, foreground);
$background: map-get($theme, background);

// Apply theme for this app

// NGX Charts
[ngx-charts-axis-label] text {
    fill: mat-color($foreground, secondary-text);
}
.tick text {
    fill: mat-color($foreground, disabled);
}
.gridline-path {
    &.gridline-path-horizontal,
    &.gridline-path-vertical {
        stroke: rgba(black, 0.06);
    }
}
.legend-title-text {
    color: mat-color($foreground, secondary-text);
}
ngx-charts-line-chart,
ngx-charts-area-chart,
ngx-charts-area-chart-stacked {
    .gridline-path {
        &.gridline-path-vertical {
            display: none;
        }
    }
}
ngx-charts-line-chart {
    .line-series {
        .line {
            stroke-width: 2;
        }
    }
}
